body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;

}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;

}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
p {
    color: #524343;
}
.main-container {
    padding: 3% 15%;
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-family: 'Montserrat-Light';
    font-size: 1.2rem;
}
.dl-btn {
    margin: 5% 3% 5% 0;
}
.title-img {
    width: 60%;
    rotate: 25deg;
}
.fa-solid {
    color: #ef8172;  
    font-size: 300%;
    margin-bottom: 1rem;
}
.fa-solid:hover {
    color: #ff4c68;  
}
.feature-box {
    text-align: center;
    padding: 5%;
}

#title {
    background-color: #ff4c68;
    color: white;    
}
#features {
    padding: 7% 15%;
}
#testimonials {
    background-color: #ef8172;
    color: white;
    text-align: center;
}
.testimonials-img {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}
#press {
    background-color: #ef8172;
    padding: 3%;
    text-align: center;
}
.press-logo {
    margin: 20px 20px 50px;
    width: 15%;
}
.carousell-item {
    padding: 7% 15%;
}